<form class="form-inline" *ngIf="!authService.getUser()">
	<div class="form-group">
		<label for="username">User: (type <em>user</em>)</label>
		<input class="form-control" type="text" name="username" #username>
	</div>
	<div class="form-group">
		<label for="password">Password: (type <em>password</em>)</label>
		<input class="form-control" type="password" name="password" #password>
	</div>
	<a href="" class="btn btn-primary" (click)="login(username.value, password.value)">Entrar!</a>
	{{ mensajeError }}
</form>
<a href="" class="btn btn-dark" (click)="logout()" *ngIf="authService.getUser()">Salir!</a>