<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
	<div class="card-img">
		<img src="https://placeimg.com/380/230/nature" alt="">
		<span>
			<h4>{{ position }}</h4>
		</span>
	</div>
	<div class="card-desc">
		<h3>{{ destino.nombre }}</h3>
		<p>Servicios</p>
		<ul>
			<li *ngFor="let s of destino.servicios">
				<span [ngSwitch]="s">
					<i *ngSwitchCase="'desayuno'" style="color: red;">{{ s }}</i>
					<i *ngSwitchDefault>{{ s }}</i>
				</span>
			</li>
		</ul>
		<a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Ir!</a>
		<span *ngIf="destino.isSelected()">
			<span ngNonBindable>{{PREFERIDO}}</span>
		</span>
		<a [routerLink]="['/destino', destino.id.toString()]">Ver Detalle</a>
		<a href="#" class="btn btn-danger" (click)="eliminar()">Eliminar!</a>
		<div class="mt-3 d-flex justify-content-end">
			<a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
				<i class="material-icons mx-1">thumb_up</i>
			</a>
			<a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
				<i class="material-icons mx-1">thumb_down</i>
			</a>
			<span class="ml-2">{{ destino.votes }}</span>
		</div>
	</div>
</div>
