<form 
	[formGroup]="fg" 
	(ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
	<div class="form-group">
		<label for="nombre">Nombre</label>
		<input type="text" id="nombre" class="form-control" placeholder="Ingresar nombre" 
			[formControl]="fg.controls['nombre']">
		<ul class="list-group">
			<li class="list-group-item list-group-item-action" *ngFor="let r of searchResults">{{ r }}</li>
		</ul>
		<small class="form-text text-danger" *ngIf="fg.controls['nombre'].hasError('required')">
			nombre requerido
		</small>
		<small class="form-text text-warning" *ngIf="fg.controls['nombre'].hasError('invalidNombre')">
			nombre invalido
		</small>
		<small class="form-text text-info" *ngIf="fg.controls['nombre'].hasError('minLongNombre')">
			nombre debe tener al menos {{ minLongitud }} de largo
		</small>
	</div>
	<div class="form-group">
		<label for="imagenUrl">Imagen Url</label>
		<input type="text" id="imagenUrl" class="form-control" placeholder="Ingresar url..." 
			[formControl]="fg.controls['url']">
		<small class="form-text text-danger" *ngIf="fg.controls['url'].hasError('required')">
			url requerido
		</small>
	</div>
	<button class="btn btn-primary" type="submit" *ngIf="fg.valid">Guardar!</button>
</form>
